<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="~/animal-icon-png-6266-Windows.ico>

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="~/css/tiny-slider.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <title>White Paws</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>


@* for shop *@

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="~/animal-icon-png-6266-Windows.ico>

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="~/css/tiny-slider.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <title>Furni Free Bootstrap 5 Template for Furniture and Interior Design Websites by Untree.co </title>
</head>
<body>
    <!-- Start Header/Navigation -->

    <!-- End Header/Navigation -->

   
            @RenderBody()
  

   @* check the footer in index*@



    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/tiny-slider.js"></script>
    <script src="js/custom.js"></script>


    @* for shop*@

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/tiny-slider.js"></script>
    <script src="js/custom.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

    <footer class="footer-section">
        <div class="container relative">
        

            <div class="container-fluid relative">
                <div class="row g-0 position-relative">
                    <div class="col-lg-12">
                        <img src="images/Pet-PNG-File.png" alt="Image" class="img-fluid w-100 fs-3">
                        <div class="overlay-text position-absolute top-50 start-50 translate-middle text-center text-black">
                            <p class="mb-4 text-primary fs-5 font-weight-bold">𝓣𝓱𝓮 𝓦𝓱𝓲𝓽𝓮 𝓟𝓪𝔀𝓼</p>
                            <p class="mb-5" fs-2>𝓞𝓾𝓻 𝓿𝓲𝓼𝓲𝓸𝓷 𝓲𝓼 𝓽𝓸 𝓬𝓻𝓮𝓪𝓽𝓮 𝓪 𝔀𝓸𝓻𝓵𝓭 𝔀𝓱𝓮𝓻𝓮 𝓷𝓸 𝓹𝓮𝓽 𝓲𝓼 𝓪𝓼𝓽𝓻𝓪𝔂, 𝓪𝓷𝓭 𝓷𝓸 𝓼𝓽𝓸𝓶𝓪𝓬𝓱 𝓲𝓼 𝓵𝓮𝓯𝓽 𝓾𝓷𝓯𝓮𝓭.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="border-top copyright">
                <div class="row pt-4">
                    <div class="col-lg-6">
                        <p class="mb-2 text-center text-lg-start">
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved.
                            &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a hreff="https://themewagon.com">ThemeWagon</a>
                             https://untree.co/license/ 
                        </p>
                    </div>

                    <div class="col-lg-6 text-center text-lg-end">
                        <ul class="list-unstyled d-inline-flex ms-auto">
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</html>